@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection{
    color: white;
    background-color: orange;
}

body{
    letter-spacing: 1;
    font-size: 16px;
    background-color: #eee;
    overflow: hidden;
}

.container{
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

section{
    scroll-snap-align: center;
    height: 100vh;
}

.header{
    height: 10vh;
    font-size: 2rem;
    color: grey;
    font-weight: 800;
    letter-spacing: 3px;
    background-color: #d2d1d1;
    border-top-left-radius: 100vmax;
    border-top-right-radius: 100vmax;
    display: grid;
    place-content: center;
}

.main{
    height: 90vh;
    background-color: white;
    box-shadow: 0px -2px 2px rgb(0 0 0 / .15);
}

.header,
.main{
    width: 400px;
    max-width: 400px;
    margin-inline: auto;
}














@media only screen and (max-width: 500px){
    .main,
    .header{
        width: 100%;
    }
}

/*           scrollbar            */

/* WebKit (Safari, Chrome) */
.container::-webkit-scrollbar {
    width: 8px;
}

.container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / .3);
    border-radius: 5px;
}

.container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / .5);
}

/* Firefox */
.container {
    scrollbar-width: thin;
}

.container::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

.container::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / .3);
    border-radius: 5px;
}

.container:hover::-webkit-scrollbar-thumb {
    background-color: rgb(0 0 0 / .5);
}


